<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h3>Sorry! We experienced an error</h3>
    <h6>Error details:</h6>
    <%= err %>
</body>
</html>