.chat{
    background-color: gray;
    color: aliceblue;
    border-radius: 1rem;
    padding: 0.5rem;
    display: inline-block;
    margin: 1rem;
}
body{
    margin: 1.25rem;
    background-color: #141d2c;
    color: #fff;
}

.chat:hover{
    background-color: rgb(120, 120, 218);
    color: white;
}

.newChat{
    display: block;
    margin: 1rem;
    padding: 0.5rem;
}

hr{
    color: #fff;
}
form input[type="text"]{
    text-align: center;
    width: 250px;
}
form textarea{
    height: 100px;
    width: 250px;
    resize: none;
}